<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPSRemoting" maxBufferSize="2147483647"
                    maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.249:8000/IPSRemotingService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPSRemoting"
                contract="ServiceReference1.IPSRemoting" name="BasicHttpBinding_IPSRemoting" />
        </client>
    </system.serviceModel>
</configuration>